<div class="row">
    <section class="questions container">
        <h2 class="subtitle">Preguntas frecuentes</h2>
        <p class="questions__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Unde odit voluptas consequatur iure? Perferendis, facilis! Ullam, explicabo ex? 
            Enim nulla maiores vel officiis officia eaque deleniti possimus tenetur id laborum.
        </p>
        <section class="questions__container">
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Qué es IA?
                        <span class="questions__arrow">
                            <img src="../../../../assets/extra/arrow.svg" alt="arrow" class="questions__img">
                        </span>
                    </h3>
                    <p class="questions__show">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum dolor veritatis, 
                        repellat doloremque ipsa ab non laborum repudiandae, magnam magni corporis numquam et 
                        impedit ducimus necessitatibus natus quod repellendus quaerat.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum dolor veritatis, 
                        repellat doloremque ipsa ab non laborum repudiandae, magnam magni corporis numquam et 
                        impedit ducimus necessitatibus natus quod repellendus quaerat.
                    </p>
                </div>
            </article>
    
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Qué aprenderé en esta página?
                        <span class="questions__arrow">
                            <img src="../../../../assets/extra/arrow.svg" alt="arrow" class="questions__img">
                        </span>
                    </h3>
                    <p class="questions__show">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum dolor veritatis, 
                        repellat doloremque ipsa ab non laborum repudiandae, magnam magni corporis numquam et 
                        impedit ducimus necessitatibus natus quod repellendus quaerat.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum dolor veritatis, 
                        repellat doloremque ipsa ab non laborum repudiandae, magnam magni corporis numquam et 
                        impedit ducimus necessitatibus natus quod repellendus quaerat.
                    </p>
                </div>
            </article>
    
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Dónde se encuentra la UTC?
                        <span class="questions__arrow">
                            <img src="../../../../assets/extra/arrow.svg" alt="arrow" class="questions__img">
                        </span>
                    </h3>
                    <p class="questions__show">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum dolor veritatis, 
                        repellat doloremque ipsa ab non laborum repudiandae, magnam magni corporis numquam et 
                        impedit ducimus necessitatibus natus quod repellendus quaerat.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum dolor veritatis, 
                        repellat doloremque ipsa ab non laborum repudiandae, magnam magni corporis numquam et 
                        impedit ducimus necessitatibus natus quod repellendus quaerat.
                    </p>
                </div>
            </article>
        </section>
    </section>
</div>
