<header>
    <div class="containernav logo-nav-container">
        <div class="logo">
            <img [src]="data.LOGO" alt="logo" height="30">
        </div>
        <div class="menu_bar">
            <a class="btn-menu">
                <span class="menu_icon" [class.menu_icon_Class]="data.menu" [id]="data.IDICONMENU">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <!--MENU-->
            </a>
        </div>
        <nav [id]="data.IDNAVMENU">
            <ul>
                <ng-container *ngFor="let link of menus">
                    <li>
                        <a (click)="link.method ? link.method() : null">
                            <fa-icon [icon]="link.icon"></fa-icon>
                            {{link.name}}
                            <span *ngIf="link.iconsubLinks && link.name === data.SUBMENU_INVESTIGACION"
                                class="submenuI">
                                <fa-icon *ngIf="link.iconsubLinks" [icon]="link.iconsubLinks"></fa-icon>
                            </span>
                            <span *ngIf="link.iconsubLinks && link.name === data.SUBMENU_INVESTIGACION"
                                class="submenuMI" [class.submenuMIClass]="data.menu_investigacion">
                                <fa-icon *ngIf="link.iconsubLinks" [icon]="link.iconsubLinks"></fa-icon>
                            </span>
    
                            <span *ngIf="link.iconsubLinks && link.name === data.SUBMENU_PUBLICACIONES"
                                class="submenuP">
                                <fa-icon *ngIf="link.iconsubLinks" [icon]="link.iconsubLinks"></fa-icon>
                            </span>
                            <span *ngIf="link.iconsubLinks && link.name === data.SUBMENU_PUBLICACIONES"
                                class="submenuMP" [class.submenuMPClass]="data.menu_publicaciones">
                                <fa-icon *ngIf="link.iconsubLinks" [icon]="link.iconsubLinks"></fa-icon>
                            </span>
    
                            <span *ngIf="link.iconsubLinks&& link.name === data.SUBMENU_MIEMBROS"
                                class="submenuM">
                                <fa-icon *ngIf="link.iconsubLinks" [icon]="link.iconsubLinks"></fa-icon>
                            </span>
                            <span *ngIf="link.iconsubLinks&& link.name === data.SUBMENU_MIEMBROS"
                                class="submenuMM" [class.submenuMMClass]="data.menu_miembros">
                                <fa-icon *ngIf="link.iconsubLinks" [icon]="link.iconsubLinks"></fa-icon>
                            </span>
                        </a>
                        <!-----------------Submenu Investigacion------------------->
                        <ul *ngIf="link.iconsubLinks && link.name === data.SUBMENU_INVESTIGACION"
                            class="investigacionClass">
                            <ng-container *ngFor="let sublink of link.sublinks">
                                <li>
                                    <a (click)="sublink.submethod ? sublink.submethod() : null">
                                        <fa-icon [icon]="sublink.subicon"></fa-icon>
                                        <span>{{sublink.subname}}</span>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                        <!-----------------Submenu Publicaciones------------------->
                        <ul *ngIf="link.iconsubLinks && link.name === data.SUBMENU_PUBLICACIONES"
                            class="publicacionesClass">
                            <ng-container *ngFor="let sublink of link.sublinks">
                                <li>
                                    <a (click)="sublink.submethod ? sublink.submethod() : null">
                                        <fa-icon [icon]="sublink.subicon"></fa-icon>
                                        <span>{{sublink.subname}}</span>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                        <!-----------------Submenu Miembros------------------->
                        <ul *ngIf="link.iconsubLinks && link.name === data.SUBMENU_MIEMBROS"
                            class="miembrosClass">
                            <ng-container *ngFor="let sublink of link.sublinks">
                                <li>
                                    <a (click)="sublink.submethod ? sublink.submethod() : null">
                                        <fa-icon [icon]="sublink.subicon"></fa-icon>
                                        <span>{{sublink.subname}}</span>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </nav>
    </div>
</header>