<div class="dsc-navigation">
    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/apple-256.png" alt="" height="30">
    <div class="button">
        <button class="btn btn-primary" routerLink="/public/home">Inicio</button>
        <button class="btn btn-primary" routerLink="/public/proyectos">Proyectos</button>
        <button class="btn btn-primary" routerLink="/public/noticias">Noticias</button>
        <button class="btn btn-primary" routerLink="/public/miembros">Miembros</button>
        <button class="btn btn-primary" routerLink="/public/nosotros">Nosotros</button>
        <button class="btn btn-primary" routerLink="/auth/login">Administrar</button>
    </div>
</div> 
