<div class="row">
    <section class="container about">
        <h2 class="subtitle">¿Qué información obtendras en esta página?</h2>
        <p class="abaout_paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Sequi et quisquam impedit minus pariatur possimus eaque ullam facere tempore, 
            modi totam nulla necessitatibus veniam adipisci illum molestias rerum sunt ipsum!
        </p>
    
        <div class="about__main">
            <article class="about__icons">
                <img src="../../../../assets/extra/shapes.svg" alt="svg" class="about__icon">
                <h3 class="about__title">Libros</h3>
                <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Reiciendis qui dolorum repellat officiis. Aliquam sapiente repellat vitae modi numquam, reprehenderit, 
                    minima debitis quaerat sit in saepe excepturi quam natus soluta.
                </p>
            </article>
    
            <article class="about__icons">
                <img src="../../../../assets/extra/paint.svg" alt="svg" class="about__icon">
                <h3 class="about__title">Patentes</h3>
                <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Reiciendis qui dolorum repellat officiis. Aliquam sapiente repellat vitae modi numquam, reprehenderit, 
                    minima debitis quaerat sit in saepe excepturi quam natus soluta.
                </p>
            </article>
    
            <article class="about__icons">
                <img src="../../../../assets/extra/code.svg" alt="svg" class="about__icon">
                <h3 class="about__title">Proyectos</h3>
                <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Reiciendis qui dolorum repellat officiis. Aliquam sapiente repellat vitae modi numquam, reprehenderit, 
                    minima debitis quaerat sit in saepe excepturi quam natus soluta.
                </p>
            </article>
        </div>
    </section>
</div>