<div class="dsc-header__brand">
    <fa-icon [icon]="data.ICONFABARS" class="dsc-header__brand-menu" (click)="showMenu.emit()" [id]="data.IDNAVHEADER"></fa-icon>
    <div class="dsc-header__brand-logo">
        <img [src]="data.LOGO" alt="logo">
        <span>{{data.LOGOMSG}}</span>
    </div>
</div>
<nav class="dsc-header__submenu">
    <ul class="dsc-header__submenu__links">
        <ng-container *ngFor="let iconroute of data.ICONS_ROUTES">
            <li class="dsc-header__submenu__links-link">
                <a class="dsc-header__submenu__links-link-router"
                    (click)="iconroute.method ? iconroute.method() : null"
                    [matTooltip]="iconroute.text">
                    <fa-icon [icon]="iconroute.icon"></fa-icon>
                    <span *ngIf="iconroute.SUB_ICONS_ROUTES && iconroute.text === data.SUBMENU_INVESTIGACION"
                        class="dsc-header__submenu__links-link-router-submenuI">
                        <fa-icon *ngIf="iconroute.iconSubLinks" [icon]="iconroute.iconSubLinks"></fa-icon>
                    </span>
                    <span *ngIf="iconroute.SUB_ICONS_ROUTES && iconroute.text === data.SUBMENU_PUBLICACIONES"
                        class="dsc-header__submenu__links-link-router-submenuP">
                        <fa-icon *ngIf="iconroute.iconSubLinks" [icon]="iconroute.iconSubLinks"></fa-icon>
                    </span>
                </a>

                <!-----------------Submenu Investigacion------------------->
                <ul *ngIf="iconroute.SUB_ICONS_ROUTES && iconroute.text === data.SUBMENU_INVESTIGACION"
                    class="dsc-header__submenu__links-link__sublinksI">
                    <ng-container *ngFor="let subiconroute of iconroute.SUB_ICONS_ROUTES">
                        <li class="dsc-header__submenu__links-link__sublinksI-sublink">
                            <a class="dsc-header__submenu__links-link__sublinksI-sublink-subrouter"
                                (click)="subiconroute.submethod ? subiconroute.submethod() : null"
                                [matTooltip]="subiconroute.texthelp ? subiconroute.texthelp : null"
                            >
                                <fa-icon [icon]="subiconroute.subicon"></fa-icon>
                                <span class="dsc-header__submenu__links-link__sublinksI-sublink-subrouter-subname">{{subiconroute.subtext}}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
                <!-----------------Submenu Publicaciones------------------->
                <ul *ngIf="iconroute.SUB_ICONS_ROUTES && iconroute.text === data.SUBMENU_PUBLICACIONES" 
                    class="dsc-header__submenu__links-link__sublinksP">
                    <ng-container *ngFor="let subiconroute of iconroute.SUB_ICONS_ROUTES">
                        <li class="dsc-header__submenu__links-link__sublinksP-sublink">
                            <a class="dsc-header__submenu__links-link__sublinksP-sublink-subrouter"
                                (click)="subiconroute.submethod ? subiconroute.submethod() : null"
                                [matTooltip]="subiconroute.texthelp ? subiconroute.texthelp : null"
                            >
                                <fa-icon [icon]="subiconroute.subicon"></fa-icon>
                                <span class="dsc-header__submenu__links-link__sublinksP-sublink-subrouter-subname">{{subiconroute.subtext}}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
                
            </li>
        </ng-container>
        <li *ngIf="this.authService.getUser" class="dsc-header__submenu__links-linkusr">
            <a class="dsc-header__submenu__links-linkusr-routerusr"
                (click)="data.METHOD_MI_CUENTA ? data.METHOD_MI_CUENTA() : null">
                <span class="dsc-header__submenu__links-linkusr-routerusr-usr"
                    [ngStyle]="{'background-image': 'url(' +  this.data.AVATAR + ')'}"
                    matTooltip="Cuenta">
                </span>
            </a>
        </li>
    </ul>
</nav>





