<div class="login-container" [ngStyle]="data.STYLE_BACKGROUND">
    <div class="login-form">
        <img [src]="data.LOGO" alt="Logo" class="login-form-logo">
        <div class="login-form-content" app-login-form></div> <!--Llamando a nuestro componente app-login-form-->
        <div class="login-form-footer">
            <div class="login-form-footer__links">
                <ng-container *ngFor="let href of data.HREFS">
                    <a [href]="href.href">{{href.txt}}</a>
                </ng-container>
                <a [routerLink]="data.ROUTE_INICIO.route" (click)="data.ROUTE_INICIO.method()">{{data.ROUTE_INICIO.txt}}</a>
            </div>
            <div class="login-form-footer__socials">
                <ng-container *ngFor="let iconsocial of data.ICONSSOCIALS">
                    <a [href]="iconsocial.href">
                        <fa-icon [icon]="iconsocial.icon" class="login-form-footer__socials_social"></fa-icon>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>
