<div class="dsc-left-nav-brand">
    <fa-icon [icon]="data.ICONFAARROWLEFT" class="dsc-left-nav-brand__menu" (click)="showMenu.emit()"></fa-icon>
    <div class="dsc-left-nav-brand__logo">
        <img [src]="data.LOGO" alt="logo"/>
        <span>{{data.LOGOMSG}}</span>
    </div>
</div>
<div class="contenedor">
    <div class="dsc-left-nav-usr" *ngIf="this.authService.getUser">
        <div class="dsc-left-nav-usr__avatar" [ngStyle]="{'background-image': 
            'url(' + data.AVATAR + ')'}">
        </div>
        <h4 class="dsc-left-nav-usr__name">
            {{
            this.authService.getUser.first_name + ' ' + 
            this.authService.getUser.last_name
            }}
        </h4>
        <h6 class="dsc-left-nav-usr__position">{{this.authService.getUser.work}}</h6>
    </div>   
    <ng-container *ngFor="let menu of menus"> 
        <app-left-nav-menu [data]="menu" 
            [submenuInvestigacion]="data.SUBMENU_INVESTIGACION"
            [submenuPublicaciones]="data.SUBMENU_PUBLICACIONES"
        >
        </app-left-nav-menu>
    </ng-container>
</div>
   
