<div class="dsc-left-nav-brand">
    <fa-icon [icon]="faBars" class="dsc-left-nav-brand__menu" (click)="showMenu.emit()" ></fa-icon>
    <div class="dsc-left-nav-brand__logo">
        <img [src]="logo" alt="designicode-logo"/>
        <span>BOOT'S</span>
    </div>
</div>
<div class="dsc-left-nav-usr" *ngIf="this.authService.getUser">
    <div class="dsc-left-nav-usr__avatar" [ngStyle]="{'background-image': 'url(' + PathMedia+this.authService.getUser.avatar + ')'}"></div>
    <h4 class="dsc-left-nav-usr__name">{{
        this.authService.getUser.first_name + ' ' + 
        this.authService.getUser.last_name
    }}</h4>
    <h6 class="dsc-left-nav-usr__position">{{this.authService.getUser.work}}</h6>
</div>

<ng-container *ngFor="let menu of menus"> 
    <app-left-nav-menu [data]="menu"></app-left-nav-menu>
</ng-container>
<ng-container><!-- esta parte hacemos afuera por que esta fuera de la interfaz LeftNavMenu en constantes-->
    <app-left-nav-menu [data]="logoutMenu"></app-left-nav-menu>
</ng-container>