<div class="row">
    <section class="hero">
        <section class="hero__container container">
            <h1 class="hero__title">Róbotica e Inteligencia Artificial UTC.</h1>
            <p class="hero__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam sunt maiores totam accusantium reprehenderit, mollitia illum placeat nam itaque 
                officia voluptas dolor, repellendus numquam sed dolores doloribus dicta error a?
            </p>
            <a href="#" class="cta">+ Más Información</a>
        </section>
    </section>
</div>

