<!-- Modal -->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close" (click)="closeClick()" tabindex="-1"></button>
    </div>
    <div class="modal-body">
        <!--Componente para editar las credeciales de acceso del usuario-->
        <app-edit-credenciales *ngIf="EditCredentUserComp"></app-edit-credenciales>
    </div>
</ng-template>

<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img [src]="PhotoFilePath" alt="img-avatar">
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{first_name+' '+last_name}}</h3>
            <p class="texto">{{descripcion}}</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-envelope"></i>{{email}}</li>
                <li><i class="icono fas fa-user"></i>{{username}}</li>
                <li><i class="icono fas fa-phone-alt"></i>{{telefono}}</li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i>{{direccion}}</li>
                <li><i class="icono fas fa-building"></i>{{empresa}}</li>
                <li><i class="icono fas fa-briefcase"></i>{{work}}</li>
            </ul>
        </div>
        <div class="redes-sociales">
            <a (click)="editProfile()" matTooltip="Editar perfil" class="boton-redes facebook fas fa-pen button"></a>
            <button type="button" matTooltip="Editar credenciales" class="boton-redes credenciales fas fa-user button" 
                (click)="editClick(contenido)"></button>
            <button type="button" matTooltip="Cambiar tema [{{cont+1}}/4]" class="boton-redes cambiartema fas fa-palette button"
                (click)="cambiarTheme()"></button>
            <a [href]="hrefFacebook" matTooltip="Facebook" class="boton-redes facebook fab fa-facebook-f button"></a>
            <a [href]="hrefTwitter" matTooltip="Twitter" class="boton-redes twitter fab fa-twitter button"></a>
        </div>
    </div>
</section>