<div class="row">
    <section class="testimony">
        <div class="testimony__container container">
            <img src="../../../../assets/extra/leftarrow.svg" alt="left" class="testimony__arrow" id="before" (click)="clickBefore()">
            <section class="testimony__body testimony__body--show" data-id="1">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Karen Arteaga, 
                        <span class="testimony__course">colaborador de IA.</span>
                    </h2>
                    <p class="testimony__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quasi totam veniam repellendus aspernatur quod delectus optio, officiis eligendi obcaecati 
                        expedita praesentium fugit aperiam! Incidunt molestiae dolore laborum doloremque asperiores rem.
                    </p>
                </div>
                <figure class="testimony__picture">
                    <img src="../../../../assets/extra/face.jpg" alt="avatar" class="testimony__img">
                </figure>
            </section>
            <section class="testimony__body" data-id="2">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Alejandra Perez, 
                        <span class="testimony__course">colaborador de IA.</span>
                    </h2>
                    <p class="testimony__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quasi totam veniam repellendus aspernatur quod delectus optio.
                    </p>
                </div>
                <figure class="testimony__picture">
                    <img src="../../../../assets/extra/face2.jpg" alt="avatar" class="testimony__img">
                </figure>
            </section>
    
            <section class="testimony__body" data-id="3">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Jordan Alexander, 
                        <span class="testimony__course">colaborador de IA.</span>
                    </h2>
                    <p class="testimony__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quasi totam veniam repellendus aspernatur quod delectus optio, officiis eligendi obcaecati 
                        expedita praesentium fugit aperiam.
                    </p>
                </div>
                <figure class="testimony__picture">
                    <img src="../../../../assets/extra/face3.jpg" alt="avatar" class="testimony__img">
                </figure>
            </section>
            <img src="../../../../assets/extra/rightarrow.svg" alt="left" class="testimony__arrow" id="next" (click)="clickNext()">
        </div>
    </section>
</div>
