<form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img [src]="PhotoFilePath" alt="img-avatar">
                    <button type="button" class="button boton-avatar" matTooltip="Subir imágen" (click)="abrirInputImg()">
                        <mat-icon>file_upload</mat-icon>
                    </button>
                    <input type="file" class="ocultar" (change)="onChange($event)" id="imgUploadUser">
                </div>
                <button type="button" class="button boton-portada" matTooltip="Regresar al perfil" (click)="regresar()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input type="text" matInput autocomplete="off" 
                        placeholder="Ingrese sus nombres" formControlName="first_name">
                    <mat-error *ngIf="(u.first_name.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.first_name.value">
                            <ng-container *ngSwitchCase="''">*El nombre es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El nombre debe tener un máximo de 150 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.first_name.value!=''" matSuffix class="pointer" (click)="eliminarTexto('first_name')">close</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input type="text" matInput autocomplete="off" 
                        placeholder="Ingrese sus apellidos" formControlName="last_name">
                    <mat-error *ngIf="(u.last_name.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.last_name.value">
                            <ng-container *ngSwitchCase="''">*El apellido es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El apellido debe tener un máximo de 150 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.last_name.value!=''" matSuffix class="pointer" (click)="eliminarTexto('last_name')">close</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Rol/Trabajo</mat-label>
                    <mat-icon matPrefix>home_repair_service</mat-icon>
                    <input type="text" matInput autocomplete="off" 
                        placeholder="Ingrese su nuevo rol" formControlName="work">
                    <mat-error *ngIf="(u.work.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.work.value">
                            <ng-container *ngSwitchCase="''">*El rol es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El rol debe tener un máximo de 100 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.work.value!=''" matSuffix class="pointer" (click)="eliminarTexto('work')">close</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <mat-icon matPrefix>place</mat-icon>
                    <input type="text" matInput autocomplete="off" 
                        placeholder="Ingrese su nueva dirección" formControlName="direccion">
                    <mat-error *ngIf="(u.direccion.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.direccion.value">
                            <ng-container *ngSwitchCase="''">*La dirección es requerida!</ng-container>
                            <ng-container *ngSwitchDefault>*La dirección debe tener un máximo de 150 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.direccion.value!=''" matSuffix class="pointer" (click)="eliminarTexto('direccion')">close</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <mat-icon matPrefix>phone</mat-icon>
                    <input type="text" matInput autocomplete="off" 
                        placeholder="Ingrese su nuevo número telefónico" formControlName="telefono">
                    <mat-error *ngIf="(u.telefono.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.telefono.value">
                            <ng-container *ngSwitchCase="''">*El número de teléfono es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El teléfono debe tener un máximo de 10 números!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.telefono.value!=''" matSuffix class="pointer" (click)="eliminarTexto('telefono')">close</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Empresa</mat-label>
                    <mat-icon matPrefix>apartment</mat-icon>
                    <input type="text" matInput autocomplete="off" 
                        placeholder="Ingrese el nuevo nombre de su empresa" formControlName="empresa">
                    <mat-error *ngIf="(u.empresa.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.empresa.value">
                            <ng-container *ngSwitchCase="''">*El nombre de la empresa es requerida!</ng-container>
                            <ng-container *ngSwitchDefault>*El nombre de la empresa debe tener un máximo de 150 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.empresa.value!=''" matSuffix class="pointer" (click)="eliminarTexto('empresa')">close</mat-icon>
                </mat-form-field>
            </div>
            <div class="perfil-usuario-bio">
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <mat-icon matPrefix>description</mat-icon>
                    <textarea matInput #message autocomplete="off" formControlName="descripcion"
                        placeholder="Ingrese una nueva descripción para su perfil"></textarea>
                    <mat-error *ngIf="(u.descripcion.errors && userSubmitted)">
                        <ng-container [ngSwitch]="u.descripcion.value">
                            <ng-container *ngSwitchCase="''">*La descripción es requerida!</ng-container>
                            <ng-container *ngSwitchDefault>*La descripción debe tener un máximo de 300 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="u.descripcion.value!=''" matSuffix class="pointer" (click)="eliminarTexto('descripcion')">close</mat-icon>
                    <mat-hint [align]="'end'">{{message.value.length}} / 300</mat-hint>
                </mat-form-field>
                <div class="buttons">
                    <button type="submit" class="buttonsubmit" mat-raised-button color="primary">
                        <mat-icon>save</mat-icon>Actualizar
                    </button>
                </div>
            </div>
        </div>
    </section>
</form>