.example-form {
    min-width: 150px;
    //max-width: 500px;
    width: 100%;
}

.ancho {
    font-size: 13px;
    width: 100%;
}

.dsc-user{
    &-img{
        margin-top: 5px;
        width: 100%;
        height: 290px;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.button {
    width: 50%;
    max-width: 200px;
}

.pointer {
    cursor: pointer;
}