.mostrar-content-img-select{
    height: 415px;
}
.imagen{
    margin-top: 5px;
    width: 100%;
    height: 290px;
}
.subir-imagen{
    height: 55px; 
    margin-top: 15px;
}
/*
.mostrar-content{
    height: 345px; 
    margin-bottom: 20px;
}
*/
.mostrar-content{
    height: 415px; 
    margin-bottom: 20px;
}
.inputs-form{
    height: 365;
}
.hvida-buttons{
    text-align: center; 
    height: 50px; 
    margin-top: 10px;
}
.subir-archivo{
    width: 65%; 
    max-width: 312px;
}
.ver-archivo{
    width: 20%; 
    margin-inline-start: 10px;
}