
<div class="col-12">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" class="example-form" [formGroup]="contenidoForm" (ngSubmit)="addEditContenido()" tabindex="0">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 mb-4 text-center" style="height: 330px;">
                <img class="dsc-user-img" [src]=PhotoFilePath alt="">
                <div style="height: 55px; margin-top: 15px;">
                    <button type="button" class="ancho" mat-raised-button color="primary" (click)="abrirInputImg()">
                        <mat-icon>file_upload</mat-icon>{{estadoImg}}
                    </button>
                    <input type="file" style="visibility: hidden; width: 0%;" (change)="onChangeImg($event)" id="imgUpload">
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-9 pl-4" style="height: 330px; margin-bottom: 15px;">
                <div style="height: 280px;">
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Título</mat-label>
                        <input type="text" matInput autocomplete="off" 
                            placeholder="Ingrese el título del contenido" formControlName="titulo_con">
                        <mat-error *ngIf="(cont.titulo_con.errors && contenidoSubmitted)">
                            <ng-container [ngSwitch]="cont.titulo_con.value">
                                <ng-container *ngSwitchCase="''">*El título es requerido!</ng-container>
                                <ng-container *ngSwitchDefault>*El título debe tener un máximo de 100 caracteres!</ng-container>
                            </ng-container>
                        </mat-error>
                        <mat-icon *ngIf="cont.titulo_con.value!=''" matSuffix class="pointer" (click)="eliminarTexto('titulo_con')">close</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Fecha</mat-label>
                        <input type="date" matInput formControlName="fecha_con">
                        <mat-error *ngIf="(cont.fecha_con.errors && contenidoSubmitted)">
                            <ng-container [ngSwitch]="cont.fecha_con.value">
                                <ng-container *ngSwitchCase="''">*La fecha es requerida!</ng-container>
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Autor</mat-label>
                        <input type="text" matInput autocomplete="off" 
                            placeholder="Ingrese el autor" formControlName="autor_con">
                        <mat-error *ngIf="(cont.autor_con.errors && contenidoSubmitted)">
                            <ng-container [ngSwitch]="cont.autor_con.value">
                                <ng-container *ngSwitchCase="''">*El autor es requerido!</ng-container>
                                <ng-container *ngSwitchDefault>*El nombre del autor debe tener un máximo de 100 caracteres!</ng-container>
                            </ng-container>
                        </mat-error>
                        <mat-icon *ngIf="cont.autor_con.value!=''" matSuffix class="pointer" (click)="eliminarTexto('autor_con')">close</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="fk_id_cat" [(value)]="this.con.fk_id_cat">
                            <mat-option *ngFor="let catNombre of CategoriaList" [value]="catNombre.id_cat">
                                {{catNombre.nombre_cat}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="(cont.fk_id_cat.errors && contenidoSubmitted)">
                            <ng-container [ngSwitch]="cont.fk_id_cat.value">
                                <ng-container *ngSwitchCase="''">*Seleccionar la categoría!</ng-container>
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div style="text-align: center; height: 50px; margin-top: 15px;">
                    <button type="button" style="width: 65%; max-width: 312px;" mat-raised-button color="primary" (click)="abrirInputFil()">
                        <mat-icon>file_upload</mat-icon>{{estadoFil}}
                    </button>
                    <input type="file" style="visibility: hidden; width: 0%;" (change)="onChangeFil($event)" id="fileUpload">
                    
                    <button *ngIf="hrefPathFile" type="button" style="width: 20%; margin-inline-start: 10px;" 
                        mat-raised-button color="primary" (click)="abrirHrefFile()" matTooltip="Archivo subido: {{this.filePathName}}">
                            <mat-icon>visibility</mat-icon>
                    </button>
                    <a href="{{filePath}}" target="_blank" style="visibility: hidden; width: 0%;" id="hrefPathFile"></a>
                </div>
            </div>

            <mat-form-field appearance="outline" class="ancho">
                <mat-label>Descripción</mat-label>
                    <textarea matInput #message 
                        placeholder="Ingrese la descripción" formControlName="descripcion_con">
                    </textarea>
                    <mat-error *ngIf="(cont.descripcion_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.descripcion_con.value">
                            <ng-container *ngSwitchCase="''">*La descripción es requerida!</ng-container>
                            <ng-container *ngSwitchDefault>*La descripción debe tener un máximo de 500 caracteres!</ng-container>
                        </ng-container>
                    </mat-error>
                    <mat-icon *ngIf="cont.descripcion_con.value!=''" matSuffix class="pointer" (click)="eliminarTexto('descripcion_con')">close</mat-icon>
                    <mat-hint [align]="'end'">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <button type="submit" *ngIf="con.id_con==0" class="button" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>Guardar
            </button>
            <button type="submit" *ngIf="con.id_con!=0" class="button" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>Actualizar
            </button>
        </div>
    </form>
</div>

<!--
<form [formGroup]="contenidoForm" (ngSubmit)="addEditContenido()">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="form-froup row" style="width: 60%;">
            <label class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="titulo_con"
                    placeholder="Ingrese el título del contenido">
                <div style="text-align:right; margin-top: 10px">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded left" 
                    *ngIf="(cont.titulo_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.titulo_con.value">
                            <ng-container *ngSwitchCase="''">*El titulo es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El titulo debe tener un maximo de 100 caracteres!</ng-container>
                    </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Fecha:</label>
            <div class="col-sm-10">
                <input type="date" formControlName="fecha_con">
                <small style="margin-left: 10px" class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                *ngIf="(cont.fecha_con.errors && contenidoSubmitted)">
                    <ng-container [ngSwitch]="cont.fecha_con.value">
                        <ng-container *ngSwitchCase="''">*La fecha es requerida!</ng-container>
                    </ng-container>
                </small>                
            </div>
            <label class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" formControlName="descripcion_con"
                placeholder="Ingrese la descripcion" rows="2"></textarea>
                <div style="text-align:right; margin-top: 10px; margin-bottom: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.descripcion_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.descripcion_con.value">
                            <ng-container *ngSwitchCase="''">*La descripcion es requerida!</ng-container>
                            <ng-container *ngSwitchDefault>*La descripcion debe tener un maximo de 500 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Archivo:</label>
            <div class="col-sm-10">
                <input type="file" (change)="onChangeFil($event)">
                <a href="{{filePath}}" target="_blank"><ng-container *ngIf="this.con.archivo_con != null">
                    <br>{{this.filePathName}}
                </ng-container></a>
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.archivo_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.archivo_con.value">
                            <ng-container *ngSwitchDefault>*El nombre del archivo debe tener un maximo de 300 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Autor:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="autor_con"
                    placeholder="Ingrese el autor">
                <div style="text-align:left; margin-top: 10px; margin-bottom: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.autor_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.autor_con.value">
                            <ng-container *ngSwitchCase="''">*El autor es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El nombre del autor debe tener un maximo de 100 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-10">
                <select class="form-control" formControlName="fk_id_cat">
                    <option>--Seleccionar--</option>
                    <option *ngFor="let catNombre of CategoriaList" value="{{catNombre.id_cat}}">{{catNombre.nombre_cat}}</option>
                </select>
                <div style="text-align:left; margin-top: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.fk_id_cat.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.fk_id_cat.value">
                            <ng-container *ngSwitchCase="''">*Seleccionar la categoria!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
        </div>
        <div class="ml-3 bd-highlight" style=" width: 5%;"></div>
        <div class="ml-3 bd-highlight" style=" width: 35%;">
            <img [src]=PhotoFilePath height="250px;" width="385px;">
            <input type="file" (change)="onChangeImg($event)" class="mt-2"/>
        </div>
    </div>
    <button type="submit" *ngIf="con.id_con==0" class="btn btn-primary">Guardar</button>
    <button type="submit" *ngIf="con.id_con!=0" class="btn btn-primary">Actualizar</button>
</form>
-->