<form [formGroup]="contenidoForm" (ngSubmit)="addEditContenido()">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="form-froup row" style="width: 60%;">
            <label class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="titulo_con"
                    placeholder="Ingrese el título del contenido">
                <div style="text-align:right; margin-top: 10px">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded left" 
                    *ngIf="(cont.titulo_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.titulo_con.value">
                            <ng-container *ngSwitchCase="''">*El titulo es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El titulo debe tener un maximo de 100 caracteres!</ng-container>
                    </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Fecha:</label>
            <div class="col-sm-10">
                <input type="date" formControlName="fecha_con">
                <small style="margin-left: 10px" class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                *ngIf="(cont.fecha_con.errors && contenidoSubmitted)">
                    <ng-container [ngSwitch]="cont.fecha_con.value">
                        <ng-container *ngSwitchCase="''">*La fecha es requerida!</ng-container>
                    </ng-container>
                </small>                
            </div>
            <label class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" formControlName="descripcion_con"
                placeholder="Ingrese la descripcion" rows="2"></textarea>
                <div style="text-align:right; margin-top: 10px; margin-bottom: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.descripcion_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.descripcion_con.value">
                            <ng-container *ngSwitchCase="''">*La descripcion es requerida!</ng-container>
                            <ng-container *ngSwitchDefault>*La descripcion debe tener un maximo de 500 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Archivo:</label>
            <div class="col-sm-10">
                <input type="file" (change)="uploadFile($event)">
                <a href="{{filePath}}" target="_blank"><ng-container *ngIf="this.con.archivo_con != null">
                    <br>{{this.contenidoForm.get('archivo_con').value}}
                </ng-container></a>
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.archivo_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.archivo_con.value">
                            <ng-container *ngSwitchDefault>*El nombre del archivo debe tener un maximo de 200 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Autor:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="autor_con"
                    placeholder="Ingrese el autor">
                <div style="text-align:left; margin-top: 10px; margin-bottom: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.autor_con.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.autor_con.value">
                            <ng-container *ngSwitchCase="''">*El autor es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>*El nombre del autor debe tener un maximo de 100 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-10">
                <select class="form-control" formControlName="fk_id_cat">
                    <option>--Seleccionar--</option>
                    <option *ngFor="let catNombre of CategoriaList" value="{{catNombre.id_cat}}">{{catNombre.nombre_cat}}</option>
                </select>
                <div style="text-align:left; margin-top: 10px;">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" 
                    *ngIf="(cont.fk_id_cat.errors && contenidoSubmitted)">
                        <ng-container [ngSwitch]="cont.fk_id_cat.value">
                            <ng-container *ngSwitchCase="''">*Seleccionar la categoria!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </div>
        </div>
        <div class="ml-3 bd-highlight" style=" width: 5%;"></div>
        <div class="ml-3 bd-highlight" style=" width: 35%;">
            <img [src]=PhotoFilePath height="250px;" width="385px;">
            <input type="file" (change)="uploadImage($event)" class="mt-2"/>
        </div>
    </div>
    <button type="submit" *ngIf="con.id_con==0" class="btn btn-primary">Guardar</button>
    <button type="submit" *ngIf="con.id_con!=0" class="btn btn-primary">Actualizar</button>
</form>