@import '../variables.scss';

@mixin create-left-nav($name, $theme) { 
    .dsc-#{$name} {
        .dsc-left-nav {
            position: fixed;
            width: 260px;
            left: -260px;
            background: map-get($map: $theme, $key: 'primary');
            height: 100vh;
            padding-right: 0.2rem;
            padding-left: 0;
            transition: 0.4s ease-in-out;
            &-brand {
                height: 60px; //---ojo
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                border-bottom: map-get($map: $theme, $key: 'border_primary');
                &__menu {
                    color: map-get($map: $theme, $key: 'light');
                    font-size: 25px;
                    margin-right: 0.5rem;
                    cursor: pointer;
                }
                &__logo {
                    display: flex;
                    align-items: center;
                    > img {
                        height: 30px;
                    }
                    span {
                        color: map-get($map: $theme, $key: 'light');
                        letter-spacing: 3px;
                        font-weight: 700;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                }
            }
            &-usr {
                width: 100%;
                margin: 1.5rem auto 0.5rem auto;
                padding-bottom: 0.5rem;
                text-align: center;
                border-bottom: map-get($map: $theme, $key: 'border_primary');
                &__avatar {
                    height: 120px;
                    width: 120px;
                    margin: 0.5rem auto;
                    border-radius: 100%;
                    box-shadow: map-get($map: $theme, $key: 'shadow');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-bottom: map-get($map: $theme, $key: 'border_secondary');
                }
                &__name {
                    color: map-get($map: $theme, $key: 'light');
                    margin-bottom: 0.15rem;
                    font-size: 17px; //.....
                }
                &__position {
                    color: map-get($map: $theme, $key: 'light');
                    font-weight: 400;
                    font-size: 11px; //....
                    margin-bottom: 0.1rem; //.....
                }
            }
            &-menu {
                width: 100%;
                border-bottom: map-get($map: $theme, $key: 'border_primary');
                padding: 0.3rem 0.3rem;
                &__title {
                    color: map-get($map: $theme, $key: 'secondary');
                    text-align: left;
                    margin: 0.3rem;
                    font-weight: 700;
                    font-size: 13px; //....
                }
                &__links {
                    padding: 0;
                    margin-bottom: 0;
                    &-link {
                        list-style: none;
                        line-height: 30px;
                        &-router {
                            font-size: 1.1rem;
                            padding: 0.25rem 0.3rem;
                            transition: 0.5s all ease-in-out;
                            opacity: 0.7;
                            color: map-get($map: $theme, $key: 'light');
                            text-decoration: none;
                            font-weight: 500;
                            display: block;
                            width: 100%;
                            position: relative;
                            &-name {
                                margin-left: 0.7rem;
                            }
                            //Icono para el submenu si esq existe
                            //icono submenu Investigacion
                            &-submenuI {
                                position: absolute;
                                top: 50%;
                                right: 15px;
                                transform: translateY(-50%);
                                font-size: 22px;
                                transition: transform 0.4s;
                            }
                            //icono submenu Publicaciones
                            &-submenuP {
                                position: absolute;
                                top: 50%;
                                right: 15px;
                                transform: translateY(-50%);
                                font-size: 22px;
                                transition: transform 0.4s;
                            }
                            &:hover {
                                background: rgba(255,255,255,0.15);
                                cursor: pointer;
                                opacity: 1;
                            }
                            &-submenuIClass{
                                transform: translateY(-50%) rotate(180deg);
                            }
                            &-submenuPClass{
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                    }
                    //------si existe Submenus por cada submenu crear esto
                    //---Submenu Investigación
                    &__sublinksI {
                        padding: 0;
                        padding-left: 20px;
                        margin-bottom: 0;
                        position: static;

                        display: block;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.7s;
                        
                        &-sublink {
                            list-style: none;
                            line-height: 20px;
                            &-subrouter {
                                font-size: 1.1rem;
                                padding: 0.25rem 0.3rem;
                                transition: 0.5s all ease-in-out;
                                opacity: 0.7;
                                color: map-get($map: $theme, $key: 'light');
                                text-decoration: none;
                                font-weight: 500;
                                display: block;
                                width: 100%;
                                position: relative;
                                &-subname {
                                    margin-left: 0.7rem;
                                }
                                &:hover {
                                    background: rgba(255,255,255,0.15);
                                    cursor: pointer;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    //-----------------------------------------------
                    //------------Submenu Publicaciones
                    &__sublinksP {
                        padding: 0;
                        padding-left: 20px;
                        margin-bottom: 0;
                        position: static;
                        
                        display: block;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.7s;

                        &-sublink {
                            list-style: none;
                            line-height: 20px;
                            &-subrouter {
                                font-size: 1.1rem;
                                padding: 0.25rem 0.3rem;
                                transition: 0.5s all ease-in-out;
                                opacity: 0.7;
                                color: map-get($map: $theme, $key: 'light');
                                text-decoration: none;
                                font-weight: 500;
                                display: block;
                                width: 100%;
                                position: relative;
                                &-subname {
                                    margin-left: 0.7rem;
                                }
                                &:hover {
                                    background: rgba(255,255,255,0.15);
                                    cursor: pointer;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    //------------------------------
                }
            }
        }
        .dsc-left-navClass {
            left:0;
            transition: 0.4s ease-in-out;
        }
        .dsc-left-nav-opacity {
            position: fixed;
            left: 1px;
            width: 100%;
            background: black;
            opacity: 0.4;
            height: 100vh;
            z-index: 1;
        }
    }
}