<div class="row">
    <section class="knowledge">
        <div class="knowledge__container container">
            <div class="knowledge__texts">
                <h2 class="subtitle">Información completa. ¡Conoce todo sobre el Club de IA!</h2>
                <p class="knowledge_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Eum quasi inventore repudiandae eaque, odio assumenda ab est exercitationem non, animi tempore sapiente magnam vero, 
                    reprehenderit cupiditate nesciunt? Repellendus, dolorum maiores?
                </p>
                <a href="#" class="cta">+ Más Información</a>
            </div>
            <figure class="knowledge__picture">
                <img src="../../../../assets/extra/macbook.png" alt="imagen" class="knowledge__img">
            </figure>
        </div>
    </section>
</div>
