<section class="dsc-{{$theme}} dsc-main-container-full">
    <app-header class="dsc-header" (showMenu)="showMenu()"></app-header>
    <div class="row">
        <div class="dsc-left-nav-opacity" *ngIf="menu"></div>
        <app-left-nav class="dsc-left-nav" (showMenu)="showMenu()" [class.dsc-left-navClass]="menu" [existMenu]="menu" [id]="idAppLeftNav"></app-left-nav>
    </div>
    <main class="dsc-main-content">
        <router-outlet></router-outlet>
    </main>
    <app-footer class="dsc-footer"></app-footer>
</section>
<ng-container *ngIf="isLoader">
    <div class="dsc-loader">
        <img [src]="loader" alt="loader">
    </div>
</ng-container>